<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="icon" type="image/x-icon" href="./images/CVWebsiteFav.ico">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/scripts.js" defer></script>
    <title>Werner Janse van Rensburg</title>
</head>
<body>
    <div id="body">
        <nav class="navbar navbar-expand-lg navbar-light fix">
            <h5 id="logo" class="mr-auto">W.J.V.R</h5>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <!-- <button id="dayNight">Test</button> -->
                <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/about">About</a>
                <a class="nav-item nav-link" href="/blog">Blog</a>
                <a class="nav-item nav-link" href="/contact">Contact</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid content">
        <div class="row blokkie">
            <div class="col-md-4 order-md-1 photo">
                <img class="grayscale" id="profileFoto" src="./images/Profile .jpg" alt="">
            </div>
            <div class="col-md-8 order-md-2 info">
                <p><h3 id="indexTitle">Hi, I am <span>Werner Janse van Rensburg!</span></h3></p>
                <p>3rd Year Software Engineering Student</p>
            </div>
            <div id="neuralNetwork">
                <svg width="600" height="500" viewBox="0 0 664 605" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="664" height="605" fill="#1E1E1E"/>
                    <g clip-path="url(#clip0_0_1)">
                    <path d="M5.36874 4.66232L168.369 182.662" stroke="#D9D9D9"/>
                    <path d="M5.43832 4.75943L168.438 301.759" stroke="#D9D9D9"/>
                    <path d="M5.46552 4.81754L168.501 420.804" stroke="#D9D9D9"/>
                    <path d="M5.17017 123.53L168.17 182.53" stroke="#D9D9D9"/>
                    <path d="M5.36874 123.662L168.369 301.662" stroke="#D9D9D9"/>
                    <path d="M5.43832 123.759L168.438 420.759" stroke="#D9D9D9"/>
                    <path d="M4.82727 242.531L167.827 182.531" stroke="#D9D9D9"/>
                    <path d="M5.17017 242.53L168.17 301.53" stroke="#D9D9D9"/>
                    <path d="M5.36874 242.662L168.369 420.662" stroke="#D9D9D9"/>
                    <path d="M4.82727 361.531L167.827 301.531" stroke="#D9D9D9"/>
                    <path d="M5.17017 361.53L168.17 420.53" stroke="#D9D9D9"/>
                    <path d="M4.63031 361.663L167.63 182.663" stroke="#D9D9D9"/>
                    <path d="M4.56134 480.76L167.561 182.76" stroke="#D9D9D9"/>
                    <path d="M4.63031 480.663L167.63 301.663" stroke="#D9D9D9"/>
                    <path d="M4.82727 480.531L167.827 420.531" stroke="#D9D9D9"/>
                    <path d="M4.5343 599.818L167.534 182.818" stroke="#D9D9D9"/>
                    <path d="M4.56134 599.76L167.561 301.76" stroke="#D9D9D9"/>
                    <path d="M4.63031 599.663L167.63 420.663" stroke="#D9D9D9"/>
                    <path d="M330.815 486.464L167.815 421.464" stroke="#D9D9D9"/>
                    <path d="M331.157 367.475L168.157 421.475" stroke="#D9D9D9"/>
                    <path d="M331.364 248.343L168.364 421.343" stroke="#D9D9D9"/>
                    <path d="M331.157 248.475L168.157 302.475" stroke="#D9D9D9"/>
                    <path d="M330.815 248.464L167.815 183.464" stroke="#D9D9D9"/>
                    <path d="M331.437 129.244L168.437 421.244" stroke="#D9D9D9"/>
                    <path d="M331.364 129.343L168.364 302.343" stroke="#D9D9D9"/>
                    <path d="M331.157 129.475L168.157 183.475" stroke="#D9D9D9"/>
                    <path d="M659.169 367.47L495.169 426.47" stroke="#D9D9D9"/>
                    <path d="M658.828 367.47L494.828 307.47" stroke="#D9D9D9"/>
                    <path d="M658.631 367.338L494.631 188.338" stroke="#D9D9D9"/>
                    <path d="M659.368 248.339L495.368 426.339" stroke="#D9D9D9"/>
                    <path d="M659.169 248.47L495.169 307.47" stroke="#D9D9D9"/>
                    <path d="M658.828 248.47L494.828 188.47" stroke="#D9D9D9"/>
                    <path d="M330.828 485.53L494.828 425.53" stroke="#D9D9D9"/>
                    <path d="M330.631 485.662L494.631 306.662" stroke="#D9D9D9"/>
                    <path d="M330.562 485.759L494.562 187.759" stroke="#D9D9D9"/>
                    <path d="M331.169 366.53L495.169 425.53" stroke="#D9D9D9"/>
                    <path d="M330.828 366.53L494.828 306.53" stroke="#D9D9D9"/>
                    <path d="M330.631 366.662L494.631 187.662" stroke="#D9D9D9"/>
                    <path d="M331.368 247.661L495.368 425.661" stroke="#D9D9D9"/>
                    <path d="M331.169 247.53L495.169 306.53" stroke="#D9D9D9"/>
                    <path d="M330.828 247.53L494.828 187.53" stroke="#D9D9D9"/>
                    <path d="M331.438 128.758L495.438 425.758" stroke="#D9D9D9"/>
                    <path d="M331.368 128.661L495.368 306.661" stroke="#D9D9D9"/>
                    <path d="M331.169 128.53L495.169 187.53" stroke="#D9D9D9"/>
                    <path d="M336 129L500 70" stroke="#D9D9D9"/>
                    <path d="M333.242 245.377L500 70" stroke="#D9D9D9"/>
                    <path d="M330.626 486.332L167.626 302.332" stroke="#D9D9D9"/>
                    <path d="M330.56 486.237L167.56 183.237" stroke="#D9D9D9"/>
                    <path d="M330.815 367.464L167.815 302.464" stroke="#D9D9D9"/>
                    <path d="M330.626 367.332L167.626 183.332" stroke="#D9D9D9"/>
                    <path d="M5 129C7.76142 129 10 126.761 10 124C10 121.239 7.76142 119 5 119C2.23858 119 0 121.239 0 124C0 126.761 2.23858 129 5 129Z"/>
                    <path d="M5 248C7.76142 248 10 245.761 10 243C10 240.239 7.76142 238 5 238C2.23858 238 0 240.239 0 243C0 245.761 2.23858 248 5 248Z" fill="white"/>
                    <path d="M5 367C7.76142 367 10 364.761 10 362C10 359.239 7.76142 357 5 357C2.23858 357 0 359.239 0 362C0 364.761 2.23858 367 5 367Z" fill="white"/>
                    <path d="M5 486C7.76142 486 10 483.761 10 481C10 478.239 7.76142 476 5 476C2.23858 476 0 478.239 0 481C0 483.761 2.23858 486 5 486Z" fill="white"/>
                    <path d="M5 605C7.76142 605 10 602.761 10 600C10 597.239 7.76142 595 5 595C2.23858 595 0 597.239 0 600C0 602.761 2.23858 605 5 605Z" fill="white"/>
                    <path d="M5 10C7.76142 10 10 7.76142 10 5C10 2.23858 7.76142 0 5 0C2.23858 0 0 2.23858 0 5C0 7.76142 2.23858 10 5 10Z" fill="white" id= "flickerOne"/>
                    <path d="M168 188C170.761 188 173 185.761 173 183C173 180.239 170.761 178 168 178C165.239 178 163 180.239 163 183C163 185.761 165.239 188 168 188Z" fill="white" id= "flickerTwo"/>
                    <path d="M168 307C170.761 307 173 304.761 173 302C173 299.239 170.761 297 168 297C165.239 297 163 299.239 163 302C163 304.761 165.239 307 168 307Z" fill="white" id="flickerThree"/>
                    <path d="M168 426C170.761 426 173 423.761 173 421C173 418.239 170.761 416 168 416C165.239 416 163 418.239 163 421C163 423.761 165.239 426 168 426Z" fill="white" id="flickerFour"/>
                    <path d="M331 134C333.761 134 336 131.761 336 129C336 126.239 333.761 124 331 124C328.239 124 326 126.239 326 129C326 131.761 328.239 134 331 134Z" fill="#D9D9D9" id="flickerFive"/>
                    <path d="M331 253C333.761 253 336 250.761 336 248C336 245.239 333.761 243 331 243C328.239 243 326 245.239 326 248C326 250.761 328.239 253 331 253Z" fill="white" id="flickerSix"/>
                    <path d="M331 372C333.761 372 336 369.761 336 367C336 364.239 333.761 362 331 362C328.239 362 326 364.239 326 367C326 369.761 328.239 372 331 372Z" fill="white"/>
                    <path d="M331 491C333.761 491 336 488.761 336 486C336 483.239 333.761 481 331 481C328.239 481 326 483.239 326 486C326 488.761 328.239 491 331 491Z" fill="white"/>
                    <path d="M495 193C497.761 193 500 190.761 500 188C500 185.239 497.761 183 495 183C492.239 183 490 185.239 490 188C490 190.761 492.239 193 495 193Z" fill="white" id="flickerSeven"/>
                    <path d="M500 75C502.761 75 505 72.7614 505 70C505 67.2386 502.761 65 500 65C497.239 65 495 67.2386 495 70C495 72.7614 497.239 75 500 75Z" fill="white"/>
                    <path d="M495 549C497.761 549 500 546.761 500 544C500 541.239 497.761 539 495 539C492.239 539 490 541.239 490 544C490 546.761 492.239 549 495 549Z" fill="white"/>
                    <path d="M495 312C497.761 312 500 309.761 500 307C500 304.239 497.761 302 495 302C492.239 302 490 304.239 490 307C490 309.761 492.239 312 495 312Z" fill="#F6C663"/>
                    <path d="M495 312C497.761 312 500 309.761 500 307C500 304.239 497.761 302 495 302C492.239 302 490 304.239 490 307C490 309.761 492.239 312 495 312Z" fill="white"/>
                    <path d="M659 253C661.761 253 664 250.761 664 248C664 245.239 661.761 243 659 243C656.239 243 654 245.239 654 248C654 250.761 656.239 253 659 253Z" fill="white"/>
                    <path d="M659 372C661.761 372 664 369.761 664 367C664 364.239 661.761 362 659 362C656.239 362 654 364.239 654 367C654 369.761 656.239 372 659 372Z" fill="#EBB121"/>
                    <path d="M659 372C661.761 372 664 369.761 664 367C664 364.239 661.761 362 659 362C656.239 362 654 364.239 654 367C654 369.761 656.239 372 659 372Z" fill="white" id="flickerEight"/>
                    <path d="M495 431C497.761 431 500 428.761 500 426C500 423.239 497.761 421 495 421C492.239 421 490 423.239 490 426C490 428.761 492.239 431 495 431Z" fill="white"/>
                    <path d="M332 133L492 540" stroke="#D9D9D9"/>
                    </g>
                    <path d="M333 363L503 70" stroke="#D9D9D9"/>
                    <path d="M332 482L502 70" stroke="#D9D9D9"/>
                    <path d="M335 488L490.5 542" stroke="#D9D9D9"/>
                    <path d="M333 370L491 542" stroke="#D9D9D9"/>
                    <path d="M333 250L492 541" stroke="white"/>
                    <path d="M657 371L498 540" stroke="#D9D9D9"/>
                    <path d="M655 246L504 70.0001" stroke="#D9D9D9"/>
                    <defs>
                    <clipPath id="clip0_0_1">
                    <rect width="664" height="605" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    
            </div>
        </div>
        <div class="row aboutR">
            <div class="row">
                <div id="infoIndex" class="col aboutC">
                    <h3><u>About me:</u></h3>
                    <p>Hardworking University student at Belgium Campus ITversity seeking excellence . Bringing forth a motivated attitude and a variety of powerful skills. I am committed to utilizing my skills to become a successful Software Engineer.</p>

                    <u><h4>Skills:</h4></u>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>Bootstrap</li>
                        <li>React</li>
                        <li>Figma</li>
                        <li>C#</li>
                        <li>Python</li>
                        <li>SQL</li>
                        <li>Express JS</li>
                        <li>Machine Learning</li>
                        <li>Node js</li>
                        <li>Microsoft Office 365</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row project-block">
            <div class="row">
                <div class="col">
                    <h3 id="port">Portofolio:</h3>
                </div>
            </div>
            <br>
            <br>
            <div id="infiniteHover" class="row port-back">
                <div class="col-md-6 col-lg-3 mb-4">
                    <img id="calc" src="./images/Calculator.jpg" alt="" class="project-size">
                    <ul class="projects">
                        <li><b><u><p class="p-names">Calculator Website</p></u></b></li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3 mb-4">
                    <img id="memory" src="./images/Memory Game.png" alt="" class="project-size">
                    <ul class="projects">
                        <li><b><u><p class="p-names">Memory Game</p></u></b></li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3 mb-4">
                    <img id="prov" src="./images/Province Game.jpg" alt="" class="project-size">
                    <ul class="projects">
                        <li><b><u><p class="p-names">Province Game</p></u></b></li>
                        <li>Python</li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3 mb-4">
                    <img id="dereuck" src="./images/De Reuck Website.jpg" alt="" class="project-size">
                    <ul class="projects">
                        <li><b><u><p class="p-names">Accounting Website</p></u></b></li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>
            </div>
        </div>
            <div class="row footer">
                <div class="col-md-12 aboutC">
                    <h3><u>Contact Me:</u></h3>
                    <p><i class="fa-solid fa-phone"></i> Phone: <a href="tel:+27796723649" class="naming">079 672 3649</a></p>
                    <p><i class="fas fa-envelope"></i> Email: <a href="mailto:werner.jvr.work@gmail.com" class="naming">werner.jvr.work@gmail.com</a></p>
                    <p><i class="fab fa-github"></i> GitHub: <a href="https://github.com/Werriess" class="naming">Werriess</a></p>
                    <p><i class="fa-regular fa-file"></i><a href="./uploads/Werner_JvR_CV.pdf" class="naming">Werner_CV</a></p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9by2H2L/Yi+6s+917njJIfgB6RAJvoRxTSo5hcIYzHE+z12J" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>