<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./images/CVWebsiteFav.ico">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Werner Janse van Rensburg</title>
</head>
<body id="sub">
    <div id="containerSuccess">
        <h1>Submission Successful!</h1>
        <div id="topSub">
            <p>Your form has been submitted successfully.</p>
            <p>Data is sent to my database...</p>
        </div>
        <div id="bottomSub">
            <p id="shappies">👍</p>
        </div>
    </div>
</body>
</html>


