#content {
    background-image: url('../images/dark-minimal-hexagons-background_79603-1454.jpg');
    font-family: monospace;
}

.menu {
    display: flex;
    float: right;
}

.menu li {
    padding-right: 5rem;
    list-style-type: none;
}

.menu li a {
    color: black;
    text-decoration: none;
}

.menu li a:hover {
    color: white;
    background-color: black;
    padding: 0.2rem;
    border-radius: 5rem;
}

#port {
    color: white;
    background-color: rgba(165, 165, 165, 0.5);
    box-shadow: 5px 5px 10px 0px rgba(165, 165, 165, 0.5)
}
#header {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.grayscale {
    filter: grayscale(100%);
    border-radius: 5rem;
    box-shadow: 5px 5px 10px 5px rgba(165, 165, 165, 0.5);
    max-width: 100%;
    max-height: auto;
}

.blokkie {
    padding-top: 3rem;
    padding-bottom: 10rem;
}

.info {
    padding-top: 10rem;
    padding-left: 1rem;
    color: white;
    font-family: monospace;
}

.photo {
    padding-left: 1rem;
    padding-top: 5rem;
}

#logo {
    color: white;
    padding: 0.5rem;
    background-color: black;
    max-width: 5rem;
}

.col-md-6 img {
    max-width: 100%;
    width: 20rem;
    filter: grayscale(100%);
}

.col-md-6 {
    text-align: center;
}

.project-size {
    height: 10rem;
}

#portofolio {
    padding-top: 2rem;
    background-color: rgb(73, 73, 73);
    color: white;
    font-family: monospace;
}

#p-name {
    color: white;
    padding-bottom: 2rem;
}

.about-me {
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    
}

.aboutC {
    background-color: rgba(255, 255, 255, 0.5);;
    margin: 0.5rem;
    width: 99%;
}
.aboutR {
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family:monospace;
}

.project-block {
    padding-top: 3rem;
    height: auto;
    margin-left: 2rem;
    margin-right: 0.5rem;
}
.projects {
    list-style-type: none;
    color: white;
}

.p-names {
    color: white;
}

.project-block .col-md-3 .project-size {
    height: 12rem;
    width: auto;
}

body {
    overflow-x: hidden;
    background-color: rgb(185, 185, 185);
}

span {
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 3rem;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.naming {
    color: black;
}

.footer {
    margin-right: 0.5rem;
}

#form {
    align-content: center;
    align-items: center;
    text-align: center;
    max-height: auto;
    color: white;
    background-color: rgba(255, 255, 255, 0.411);
    padding-top: 1rem;
    padding-bottom: 7.3rem;
    max-width: 50rem;
}

#form label {
    display: block;
    padding-top: 2rem;
}

#form input {
    max-width: auto;
}

#btn {
    background-color: white;
    padding: 0.5rem;
    width: 20%;
    border-radius: 2rem;
    border: none;
}

#btn:hover{
    color: white;
    background-color: black;
}

.contactMeB {
    background-image: url('../images/dark-minimal-hexagons-background_79603-1454.jpg');
    color: white;
}

.contactMeB h2 {
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 2rem;
}

.projects {
    padding-left: 0rem;
}

#giffie {
    width: 80%;
    max-height: auto;
}

.navbar-toggler {
    padding-top: 3rem; 
    padding-right: 2rem;
    border: none; 
    outline: none; 
}







