#body {
    background-color: rgb(30,  30, 30);
}

.navbar-light .navbar-nav .nav-link {
    color: white; 
    font-size: small;
}

.navbar-light .navbar-nav .nav-link:hover {
    color:  rgb(255, 238, 0);
}

.navbar-light .navbar-nav .nav-link.active {
    color: white; 
    font-size: small;
}

.navbar-light .navbar-nav .nav-link.active:hover {
    color:  rgb(255, 238, 0);
}

.content {
    background-color: rgb(30,  30, 30);
    width: 70%;
}

.toggle {
    color:yellow;
}

.fix button {
    padding-right: 0rem;
}


#header {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.grayscale {
    filter: grayscale(100%);
    max-width: 100%;
    max-height: auto;
}

.blokkie {
    padding-top: 3rem;
    padding-bottom: 15rem;
}

#neuralNetwork {
    position: absolute;
    z-index: 0;
    padding-left: 45rem;
}

.info {
    padding-top: 10rem;
    padding-left: 1rem;
    color: white;
    animation-name: slideIn;
    animation-duration: 2s;
}

.photo {
    padding-left: 1rem;
    padding-top: 5rem;
    animation-name: slideInLeft;
    animation-duration: 2s;
}

#logo {
    color: white;
    padding: 0.5rem;
    background-color: black;
    max-width: 5rem;
    animation-name: bounce;
    animation-duration: 1s;
}

.col-md-6 img {
    max-width: 100%;
    width: 20rem;
    filter: grayscale(100%);
    
}

.col-md-6 {
    text-align: center;
    padding-left: 0rem;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    color: white;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.grid-item p {
    visibility: hidden;
}

.divIcon {
    height: 2.5rem;
    width: 2.5rem;
}

.skills h4 {
    color: white;
    font-weight: bold;
    margin-top: 5rem;
}

.project-size {
    height: 10rem;
}

.project-size:hover {
    cursor: pointer;
}

#portofolio {
    padding-top: 2rem;
    background-color: rgb(73, 73, 73);
    color: white;
}

#p-name {
    color: white;
    padding-bottom: 2rem;
}

.about-me {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.aboutC {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0.5rem;
    width: 99%;
}


.naming:hover {
    color: black;
}

.aboutR {
    color: white;
    margin-right: 0.5rem;
    padding: 2rem 2rem 2rem 0;
}

.aboutR h4 {
    font-weight: bold;
}

.aboutR p {
    padding-top: 2rem;
    font-size: medium;
}

.project-block {
    display: flex;
    padding-top: 10rem;
    height: auto;
    margin-right: 0.5rem;
}

.project-block h4 {
    color: white;
    font-weight: bold;
}

.projects {
    list-style-type: none;
    color: white;
    font-size: small;
}

.p-names {
    color: white;
}

.project-block .col-md-3 .project-size {
    height: 12rem;
    width: auto;
}

.aboutFoot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding: 1rem 2rem 1rem 0rem;
    width: 99%;
}

.aboutFoot a {
    color: white;
}

.aboutFoot a:hover {
    color: white;
}

.footer {
    margin-top: 5rem;
    margin-right: 0.5rem;
}

.footer h4 {
    color: white;
    font-weight: bold;
}

.contact {
    padding-left: 0rem;
}

body {
    overflow-x: hidden;
    background-color: rgb(185, 185, 185);
}

span {
    text-transform: uppercase;
    font-family: verdana;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(233, 225, 110);
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

#form {
    align-content: center;
    align-items: center;
    text-align: left;
    max-height: auto;
    color: black;
    background-color:  rgb(233, 225, 110);
    padding-left: 5rem;
    padding-top: 1rem;
    padding-bottom: 7.3rem;
    max-width: 55rem;
}

#name {
    width: 70%;
    padding: 0.5rem;
}

#email {
    width: 70%;
    padding: 0.5rem;
}

#phone {
    width: 70%;
    padding: 0.5rem;
}

#question {
    width: 70%;
    margin-bottom: 2rem;
}

#form label {
    display: block;
    padding-top: 2rem;
}

#btn {
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    padding: 0.5rem;
    width: 30%;
    border-radius: 2rem;
    border: none;
}

#btn:hover{
    color: rgb(36, 36, 36);
    background-color: white;
}

.contactMeB {
    background-color: rgb(30,  30, 30);
    color: white;
}

.contactMeB h2 {
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 2rem;
}

.contactMeRow {
    display: flex;
    align-items: center;
    justify-content: center;;
}

.projects {
    padding-left: 0rem;
}

#giffie {
    width: 80%;
    max-height: auto;
    animation: slideIn;
    animation-duration: 2s;
}

.navbar-toggler { 
    padding-right: 2rem;
    border: none; 
    outline: none; 
}

#aboutPage {
    background-color: rgb(30,  30, 30);
    max-height: 100vh;
    
}

.aboutContainer {
    height: 100%;
    overflow-y: hidden;
}

#aboutMeBlock {
    max-height: 50vh;
}

.bookSideOne {
    background-color: rgba(255, 255, 255, 0.411);
    text-align: left;
    padding: 2rem;
    margin-left: 0.8rem;
    height: 100%;
    overflow-y: auto;
    animation: slideInLeft;
    animation-duration: 2s;
}

.bookSideOne h5 {
    color: white;
}

.bookSideOne p {
    color: white;
}

.port-back {
    padding-bottom: 2rem;
}

#aboutMeP1 {
    padding-bottom: 1rem;
    border-bottom: solid white 1px;
}

.aboutMeSkills {
    color: white;
}

#aboutMeNav {
    margin-bottom: 3rem;
}

#aboutMeProjects h1{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.411);
}

#profileFoto {
    animation-name: forward;
    animation-duration: 1.5s;
}

.project-size:hover {
    animation-name: bringToFront;
    animation-duration: 1.5s;
}

#sub {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family:Arial, Helvetica, sans-serif;
}

#containerSuccess {
    background-color: rgb(30, 30, 30);
    color: white;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

#containerSuccess h1{
    margin-top: 0;
}   

#topSub {
    background-color: rgba(255, 255, 255, 0.411);
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
    width: 50%;
}


#shappies {
    font-size: 15rem;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 6rem;
    animation: rotate 4s infinite;
}

#reset {
    border-radius: 5rem;
}

#infiniteHover {
    animation: infiniteSlide 3s linear infinite;;
}

.transcriptForm {
    display: none;
    position: fixed;
    top: 7rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1.5rem;
    border: solid 2px;
    width: 70%;
    z-index: 1000;
    background-color: rgb(30,  30, 30);
}

.transcriptForm form{
    width: 60%;
}

.transcriptWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

}

.transcriptWrapper input,
.transcriptWrapper textarea {
    width: 100%; 
    padding: 0.25rem;
}

.transcriptWrapper button {
    max-width: 25%;
    border: none;
    background-color: #464646;
    color: white;
    padding: 0.25rem;
    cursor: pointer;
}


.transcriptForm p{
    color: white;
    font-size: large;
    font-weight: bold;

}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

#transcript:hover {
    cursor: pointer;
    border-bottom: solid 1px;

}

.notification {
    position: fixed;
    bottom: 20px;
    left: 82%;
    background-color: rgb(30, 30, 30);
    color: white;
    padding: 0.5rem;
    z-index: 1000;
    border: solid 1px white;
}

.notification.error {
    background-color: red; 
}

.hidden {
    display: none;
}



@keyframes forward {
    from {height: 95%; width: 95%;}
    to {height: 100%; width: 100%;}
}

@keyframes bounce {
    from {transform: scale(0.5, 0.5);}
    to {transform: scale(1, 1);}
}

@keyframes rotate {
    0% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}

@keyframes bringToFront{
    from{
        scale: 1;
    }
    to {
        scale: 1.05;
    }
}

@keyframes bringToFrontSVG{
    from{
        scale: 1;
    }
    to {
        scale: 1.2;
    }
}

@keyframes slideIn {
    from {
      transform: translateX(200%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes infiniteSlide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}


@media only screen and (max-width: 1224px) {
    #neuralNetwork {
      display: none;
    }
    .blokkie {
        padding-bottom: 5rem;
    }
    .gridContainer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    .grid-item {
        padding-left: 0rem;
    }
    #form {
        padding-left: 1.5rem;
    }
    .info {
        padding-top: 3rem;
    }
    .aboutFoot {
        flex-direction: column;
    }
    .transcriptWrapper button {
        max-width: 50%;
    }
    .notification {
        left: 60%;
    }
}

