#content {
    background-image: url('../images/dark-minimal-hexagons-background_79603-1454.jpg');
    font-family: monospace;
}

.menu {
    display: flex;
    float: right;
}

.menu li {
    padding-right: 5rem;
    list-style-type: none;
}

.menu li a {
    color: black;
    text-decoration: none;
}

.menu li a:hover {
    color: white;
    background-color: black;
    padding: 0.2rem;
    border-radius: 5rem;
}

.fix button {
    padding-right: 0rem;
}

#port {
    color: white;
    background-color: rgba(165, 165, 165, 0.5);
    box-shadow: 5px 5px 10px 0px rgba(165, 165, 165, 0.5)
}
#header {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.grayscale {
    filter: grayscale(100%);
    border-radius: 5rem;
    box-shadow: 5px 5px 10px 5px rgba(165, 165, 165, 0.5);
    max-width: 100%;
    max-height: auto;
}

.blokkie {
    padding-top: 3rem;
    padding-bottom: 10rem;
}

.info {
    padding-top: 10rem;
    padding-left: 1rem;
    color: white;
    font-family: monospace;
    animation-name: slideIn;
    animation-duration: 1.5s;
}

.photo {
    padding-left: 1rem;
    padding-top: 5rem;
}

#logo {
    color: white;
    padding: 0.5rem;
    background-color: black;
    max-width: 5rem;
    animation-name: bounce;
    animation-duration: 1s;
}

.col-md-6 img {
    max-width: 100%;
    width: 20rem;
    filter: grayscale(100%);
    
}

.col-md-6 {
    text-align: center;
    padding-left: 0rem;
}

.project-size {
    height: 10rem;
}

.project-size:hover {
    cursor: pointer;
}

#portofolio {
    padding-top: 2rem;
    background-color: rgb(73, 73, 73);
    color: white;
    font-family: monospace;
}

#p-name {
    color: white;
    padding-bottom: 2rem;
}

.about-me {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.aboutC {
    background-color: rgba(255, 255, 255, 0.5);;
    margin: 0.5rem;
    width: 99%;
}
.aboutR {
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family:monospace;
}

.project-block {
    justify-content: center;
    padding-top: 6rem;
    height: auto;
    margin-left: 2rem;
    margin-right: 0.5rem;
}
.projects {
    list-style-type: none;
    color: white;
}

.p-names {
    color: white;
}

.project-block .col-md-3 .project-size {
    height: 12rem;
    width: auto;
}

body {
    overflow-x: hidden;
    background-color: rgb(185, 185, 185);
}

span {
    text-transform: uppercase;
    font-family: verdana;
    font-size: 3rem;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.naming {
    color: black;
}

.footer {
    margin-right: 0.5rem;
}

#form {
    align-content: center;
    align-items: center;
    text-align: left;
    max-height: auto;
    color: white;
    background-color: rgba(255, 255, 255, 0.411);
    padding-left: 5rem;
    padding-top: 1rem;
    padding-bottom: 7.3rem;
    max-width: 50rem;
}

#name {
    width: 50%;
    padding: 0.5rem;
}

#email {
    width: 50%;
    padding: 0.5rem;
}

#phone {
    width: 50%;
    padding: 0.5rem;
}

#question {
    width: 50%;
}

#form label {
    display: block;
    padding-top: 2rem;
}

#btn {
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    padding: 0.5rem;
    width: 30%;
    border-radius: 2rem;
    border: none;
}

#btn:hover{
    color: rgb(36, 36, 36);
    background-color: white;
}

.contactMeB {
    background-image: url('../images/dark-minimal-hexagons-background_79603-1454.jpg');
    color: white;
}

.contactMeB h2 {
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 2rem;
}

.projects {
    padding-left: 0rem;
}

#giffie {
    width: 80%;
    max-height: auto;
}

.navbar-toggler { 
    padding-right: 2rem;
    border: none; 
    outline: none; 
}

#aboutPage {
    background-image: url('../images/dark-minimal-hexagons-background_79603-1454.jpg');
    overflow-y: hidden;
}

.bookSideOne {
    background-color: rgba(255, 255, 255, 0.411);
    text-align: left;
    padding: 2rem;
    max-height: 51%;
    overflow-y: scroll;
}

.bookSideOne::-webkit-scrollbar {
    width: 12px;
}

.bookSideOne::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.411)
}

.bookSideOne::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
    border: 3px solid #ccc; 
}

.bookSideOne::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

.bookSideOne h5 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.bookSideOne p {
    color: white;
}

#aboutMeP1 {
    padding-bottom: 1rem;
    border-bottom: solid white 1px;
}

.aboutMeSkills {
    color: white;
}

#aboutMeNav {
    margin-bottom: 3rem;
}

#aboutMeProjects h1{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.411);
}

#profileFoto {
    animation-name: forward;
    animation-duration: 1.5s;
}

.project-size:hover {
    animation-name: bringToFront;
    animation-duration: 1.5s;
}

.footer {
    margin-top: 5rem;
}

#sub {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

#containerSuccess {
    background-image: url('../images/dark-minimal-hexagons-background_79603-1454.jpg');
    font-family: monospace;
    color: white;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

#containerSuccess h1{
    margin-top: 0;
}   

#topSub {
    background-color: rgba(255, 255, 255, 0.411);
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
    width: 50%;
    box-shadow: 10px 10px 5px rgb(214, 219, 221);
}


#shappies {
    font-size: 15rem;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 6rem;
    animation: rotate 4s infinite;
}

#reset {
    border-radius: 5rem;
}

@keyframes forward {
    from {height: 95%; width: 95%;}
    to {height: 100%; width: 100%;}
}

@keyframes bounce {
    from {transform: scale(0.5, 0.5);}
    to {transform: scale(1, 1);}
}

@keyframes rotate {
    0% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}

@keyframes bringToFront{
    from{
        scale: 1.1;
    }
    to {
        scale: 1;
    }
}

@keyframes slideIn {
    from {
      transform: translateX(200%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}